.RegisterPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #161032;
  padding: 10px 10px;
  margin: 0;
  width: auto;
  height: auto;
}

.lettering {
  color: white;
  font-family: "Rubik", sans-serif;
}
